@charset "UTF-8";

:root{
    --main-color: #EB51C2;
}

/*全体*/

body{
    font-family:'Josefin Sans', sans-serif, 'Montserrat', 'Noto Sans JP', Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo,;
    font-size: 16px;
    color: #111111;
    font-feature-settings: "palt";
}

img{
    max-width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
}

/*レイアウト*/

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

.section{
    padding: 20px 0;
}

.section--color-reverse .section__inner{
    padding: 40px 0;
    background-color: var(--main-color);
}

.section__heading{
    margin-bottom: 30px;
}

.section-border-top{
    transform:translateY(35px);
    width:100%;
}

.section-border-bottom{
    transform:translateY(-35px);
    width: 100%;
}

/*スクロールエフェクト*/
.fadeUpEffect{
    opacity: 0;
}

.fadeUp{
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/*ボタン*/

.btn{
    display: inline-block;
    max-width: 300px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--main-color);
    transition: all 0.3s;
}

.btn--color-reverse{
    background-color: #FFFFFF;
    color: var(--main-color);
}

.btn--center{
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

/*見出し*/
.heading-primary{
    font-size: 40px;
    line-height: 1;
    color: #111111;
}

.heading-primary__subtitle{
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: var(--main-color);
    margin-top: 10px;
}

.heading-primary--color-reverse,
.heading-primary--color-reverse .heading-primary__subtitle{
    color: #FFFFFF;
}

/*ヘッダー*/
.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    padding: 0 20px;
    transition: 0.3s;
}

.header__logo{
    line-height: 1;
}

.header__cta{
    display: none;
}

.header__cta-btn{
    font-size: 12px;
    padding: 10px 15px;
}

.header--active{
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgb(0, 0, 0/ 5%) ;
}

.header--active .header__cta{
    display: block;
}

/*メインビジュアル*/
.mv{
    position:relative;
    height: 410px;
    margin: 0 auto;
    padding-top: 150px;
    padding-left: 20px;
}

.mv__title{
    font-size: min(11vw, 90px);
    font-style: Italic;
    margin-bottom: 30px;
}

.mv__subtitle{
    font-size: min(3.5vw, 28px);
    font-weight: bold;
    margin-bottom: 10px;
}

.mv__text-bg-color{
    background-color: #FFFFFF;
}

.mv__text-and{
    font-size: min(9vw, 85px);
    color: var(--main-color);
}

.mv__img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    width: 70%;
    height: 410px;
    border-radius: 0 0 0 50px;
    background-image: url(img/bg_mv.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: 1s fadeInMvImg 0.2s forwards;
}

@keyframes fadeInMvImg {
    100% {
      opacity: 1;
    }
  }

.mv__btn.btn{
    width: 220px;
}

/*全共通*/

.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;/*　はみ出た色要素を隠す　*/
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*中の要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
	animation-name:bgLRextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);/*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}

/*イントロ*/
.intro{
    margin-top: -20px;
    padding: 0 20px;
}

.intro__title{
    text-align: center;
    color: var(--main-color);
    font-size: 56px;
    font-weight: 700;
    font-style: Italic;
    line-height: 1;
    margin-bottom: 10px;
}

.intro__subtitle{
    text-align:center;
    font-size: 16px;
    margin-bottom: 23px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.intro__subtitle span{
    color: var(--main-color);
}

.intro__textArea{
    font-size: 15px;
    line-height: 1.8;
}

/*about section*/

.about__list{
    display:grid;
    row-gap: 40px;
}

.about-box__img-wrapper{
    width: 100%;
}

.about-box__desc{
    position: relative;
    margin: -10px 20px;
    padding: 40px 30px 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #FFFFFF;
}

.about-box__subtitle{
    font-size: 18px;
    color: var(--main-color);
    margin-bottom: 15px;
}

.about-box__title{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 22px;
}

.about-box__text{
    font-size: 14px;
    line-height: 1.7;
}

.about-box__subtitle-food{
    color:#00B21B;
}

.about__btn{
    margin-top: 40px;
    padding: 20px 0;
}


/*トレーナー*/
.tab-area{
    display:grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
}

.tab{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    padding: 5px 0 10px 0;
}

.tab.tab--active{
    position: relative;
    font-weight: bold;
    color:#FFFFFF;
}

.tab.tab--active::before{
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.tab-content {
    display: none;
    transition: all 1s;
    animation-name: fade-in;
    animation-duration: 0.5s;
}

.tab-content.tab--active{
    display: block;
}


@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.person-list{
    display:grid;
    row-gap: 15px;
}

.person-box{
    overflow:hidden;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.person-box__body{
    padding: 20px;
}

.person-box__text{
    font-size: 14px;
    line-height: 1.5;
}

/*スタジオ*/
.studio-wrap{
    position:relative;
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-next {
    right: -20px;
}

.swiper-button-prev,
.swiper-button-next{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 25px;
    color:var(--main-color);
}

.swiper-pagination-bullet-active{
    background-color: var(--main-color);
}

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -30px;
}

/*Price*/

.price__body{
    margin: 0 -30px;
}

.price-list{
    position: relative;
    white-space: nowrap;
    margin-top: -25px;
    padding-top: 25px;
    padding-right: 20px;
    overflow-x: auto;
}

.price-list__scroll{
    position: absolute;
    top: 50%;
    right: 13%;
    font-size: 12px;
    color:#FFFFFF;
    padding: 10px;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0, 60%);
    border-radius: 4px;
}
.price-list__scroll-icon{
    font-size: 40px;
    display: block;
    text-align: center;

}
.price-box{
    display: inline-block;
    position: relative;
    width: 320px;
    text-align:center;
    margin-left: 20px;
    padding: 40px 20px 0;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.price-box__label{
    position: absolute;
    top: -30px;
    left: 50%;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 10px;
    color: var(--main-color);
    border: solid 2px #EB51C2;
    border-radius: 50px;
    background-color: #FFFFFF;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.price-box__title{
    color: var(--main-color);
    font-size:26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price-box__price{
    margin-bottom: 20px;
}

.price-box__price-price{
    font-size: 48px;
    line-height: 1;
}

.price-box__price-price span{
    font-size: 40px;
}

.price-box__item{
    border-top:solid 1px #CCCCCC;
    padding: 30px 0;
}

.price-box__item-title{
    font-size: 18px;
    margin-bottom: 8px;
}

.price-box__item-text{
    font-size: 16px;
    font-weight: bold;
}

/*FAQ*/
.accordion{
    margin-top: -20px;
}

.accordion__item{
    border-bottom: solid 1px #CCCCCC;
}

.accordion__question{
    position: relative;
    padding: 20px 30px 15px 0;
    font-weight:normal;
    cursor: pointer;
}


.accordion__question-icon{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 24px;
    color: var(--main-color);
    transform: translateY(-50%);
}


.accordion__question-inner,
.accordion__answer-inner{
    display: flex;
    column-gap: 20px;
}

.accordion__label{
    font-size: 26px;
    flex: 0 0 25px;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
}

.accordion__text{
    font-size: 15px;
    line-height: 1.6;
    color:#111111;
}

.accordion__answer{
    display: none;
    padding-bottom: 20px;
}

.accordion__answer.answer{
    display: block;
}

.accordion__question-icon.selected{
	transform: translateY(-50%) rotate(180deg);
    transition: 0.2s;
}

/*CTA*/

.cta{
    padding-top: 30px;
}

.cta__body{
    text-align: center;
    padding: 30px 20px;
    background-color: var(--main-color);
}

.cta__title{
    color: #FFFFFF;
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: bold;
}

.cta__img{
    width: 100%
}


/*Footer*/
.footer{
    display: grid;
    color: #FFFFFF;
    background-color: #111111;
    padding: 50px 20px;
    place-items: center;
}

.page-top{
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 10;
}

.page-top__link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    box-shadow: 0 0 10 0 rgba(0,0,0,0.2);
    transition: opacity 0.3s;
    cursor: pointer;
}

.page-top__link-icon{
    color:var(--main-color);
    font-size: 24px;
}

.page-top__link:hover{
    opacity: 0.8;
}


/*タブレット版*/

@media screen and (min-width: 768px){
    .header__cta-btn{
        width: 200px;
    }

    /*メインビジュアル*/
    .mv{
        height: 500px;
        padding-left: 5%;
    }

    .mv__img{
        height: 500px;
    }

    .intro__title-br{
        display: none;
    }

    .intro__textArea{
        max-width: 720px;
        text-align: center;
        margin: 0 auto;
    }

    /*トレーナー*/
    .person-list{
        display: grid;
        column-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*ウェブ版*/
@media screen and (min-width: 1280px){
    body{
        font-size: 16px;
    }

    /*レイアウト*/
    .container{
        padding: 30px 0;
    }

    /*ボタン*/
    .btn{
        font-size: 16px;
        padding: 30px;
    }
    
    .btn:hover{
        opacity: 0.8;
    }

    .btn--center{
        max-width: 370px;
    }
    
    /*見出し*/
    .heading-primary{
       font-size: 64px;
    }

    .heading-primary__subtitle{
       font-size: 20px;
       margin-top: 15px;
    }

    /*ヘッダー*/
    .header{
        height: 80px;
        padding: 0 35px;
    }

    .header__cta-btn.btn{
        width: 250px;
        font-size: 15px;
        padding: 15px;
    }

    .header__logo-img{
        width: 180px;
    }

/*メインビジュアル*/
.mv{
    max-width: 1680px;
    margin:0 auto;
    height: 680px;
    padding-top: 220px;
    padding-left: 12%;
}

.mv__title{
    margin-bottom: 22px;
}
    
.mv__subtitle{
    margin-bottom: 32px;
}
    
.mv__img{
    height: 680px;
    border-radius: 0 0 0 90px;
}

.mv__btn.btn{
    width: 370px;
}

/*イントロ*/

.intro__title{
    font-size: 108px;
    margin-bottom: 5px;
}

.intro__subtitle{
    font-size: 32px;
    margin-bottom: 22px;
}

.intro__textArea{
    font-size: 16px;
}

/*about section*/
.about{
    margin: 0 auto;
}

.about__list{
    row-gap: 100px;
}

.about-box{
    position: relative;
}

.about-box__img-wrapper{
    width: 70%;
}

.about-box__desc{
    position: absolute;
    right:20px;
    bottom: -20px;
    margin:0;
    width: 555px;
    padding: 60px;
}

.about-box__subtitle{
    font-size: 24px;
    margin-bottom: 12px;
}

.about-box__title{
    font-size: 32px;
    margin-bottom: 22px;
}

.about-box__text{
    font-size: 16px;
}

.about-box--reverse{
    display: flex;
    justify-content: right;
}

.about-box--reverse .about-box__desc{
    left: 20px;
}

.about__btn{
    margin-top: 70px;
}

/*トレーナー*/

.tab{
    font-size: 18px;
    padding: 5px 0 20px 0;
}

.person-box__text{
    font-size: 15px;
    line-height: 1.7;
}

/*スタジオ*/
.swiper-button-prev {
    left: -50px;
}

.swiper-button-next {
    right: 0px;
}

.swiper-button-prev,
.swiper-button-next{
    height: 80px;
    width: 80px;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 30px;
    font-weight: bold;
}

/*Price*/

.price__body{
    margin: 0;
}

.price-list{
    display:grid;
    padding-right:0;
    column-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.price-list__scroll{
    display: none;
}

.price-box{
   width: auto;
   margin:0;
}

/*CTA*/

.cta{
    padding-top: 60px;
}

.cta__body{
    padding: 50px 20px;
}

.cta__title{
    font-size: 64px;
    margin-bottom: 15px;
}


/*Footer*/
.footer{
    padding: 100px 20px;
}

.footer__logo-img{
    width: 180px;
}

.page-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.page-top__link{
    width: 80px;
    height: 80px;
}

.page-top__link-icon{
    font-size: 48px;
}










}